<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.kazo" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kazo</name>
    <description>
        Buy online ladies western wear - Huge collection of western dresses, evening wear, tops, t-shirts, shirts, party wear, jeans, leggings, jeggings, accessories and more online shopping in India. Free Shipping, Cash on delivery, 15 Days Return.
    </description>
    <author email="support@purplecommerce.com" href="http://kazo.com">
        Kazo Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="prerendered-icon" value="true"/>
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.device" />
    <icon src="icon.png" gap:role="default" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.gif" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.gif" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.gif" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.gif" />
    <gap:splash src="splash.gif" />
    <gap:plugin name="phonegap-plugin-push" source="npm" version="1.2.3" />
  
</widget>